extends ../layouts/_default

block content
  .skewed-bg
    .content
      .logo w
      h1.title Web Starter Kit
      p.text A 
        a(href="https://pugjs.org/api/getting-started.html" target="_blank") Jade
        | and 
        a(href="http://stylus-lang.com/" target="_blank") Stylus 
        | starter project using 
        a(href="http://gulpjs.com/" target="_blank") Gulp
        | for task automation.
      .features
        ul
          li
            i.ion-ios-checkmark-empty
            span Live Reload
          li
            i.ion-ios-checkmark-empty
            span Image Optimization
          li
            i.ion-ios-checkmark-empty
            span CSS Auto Prefixer
          li
            i.ion-ios-checkmark-empty
            span BrowserSync
