@import url("http://fonts.googleapis.com/css?family=Lato:300,400,700,900");
@font-face {
  font-family: 'Bavro';
  src: url("../fonts/Bavro-Regular.otf");
}
body {
  background: #222;
  color: #fff;
  font-family: 'Lato', sans-serif;
  padding: 0px;
  margin: 0px;
}
.skewed-bg {
  background: -webkit-linear-gradient(0deg, #fd746c 10%, #ff9068 90%);
  background: linear-gradient(90deg, #fd746c 10%, #ff9068 90%);
  padding: 175px 0;
  -webkit-transform: skew(0deg, -10deg);
      -ms-transform: skew(0deg, -10deg);
          transform: skew(0deg, -10deg);
  margin-top: -200px;
  height: 350px;
}
.skewed-bg .content {
  -webkit-transform: skew(0deg, 10deg);
      -ms-transform: skew(0deg, 10deg);
          transform: skew(0deg, 10deg);
  text-align: center;
  padding-top: 20px;
  margin: auto;
}
.skewed-bg .content .logo {
  font-family: 'Bavro';
  padding: 10px 0 0 10px;
  background: #fff;
  width: 90px;
  height: 90px;
  color: #fd746c;
  font-size: 40px;
  font-weight: bold;
  border-radius: 50px;
  margin: auto;
  margin-top: 60px;
  box-shadow: inset 8px -3px 0px 10px #9c5550;
  line-height: 70px;
}
.skewed-bg .content .title {
  font-family: 'Bavro';
  font-weight: normal;
  font-size: 33px;
  padding-top: 20px;
}
.skewed-bg .content .text {
  font-family: 'Lato';
  width: 60%;
  margin: 25px auto;
  color: #fff;
  font-size: 15px;
}
.skewed-bg .content .text a {
  border-bottom: 1px solid #fff;
  margin-right: 3px;
  text-decoration: none;
  color: #fff;
}
.skewed-bg .content .features {
  text-align: left;
  margin: auto;
  width: 21%;
}
.skewed-bg .content .features ul {
  display: block;
  padding: 0px;
  margin: 0px;
}
.skewed-bg .content .features li {
  display: block;
  list-style: none;
}
.skewed-bg .content .features li span {
  font-size: 16px;
  margin-left: 10px;
  position: absolute;
  line-height: 40px;
}
.skewed-bg .content .features li i {
  font-size: 40px;
  line-height: 0px;
}
.footer {
  padding-top: 50px;
}
.footer .github-icon {
  text-align: center;
  color: #666;
  margin: auto;
}
.footer .github-icon i {
  font-size: 50px;
}
.footer .github-icon a {
  color: #666;
}
.footer .credits {
  text-align: center;
  color: #666;
}
.footer .link {
  color: #fd746c;
  text-decoration: none;
}
